
	$font-primary: 'Helvetica', sans-serif;
	$font-title: 'Raleway', sans-serif;
	$font-text: 'Poppins', sans-serif;
	$color-black: #212529;
	$color-white: #f1f3f5;
	$color-orange: #ff5723; 
	$color-grey: #898989;

	$small : 740px;
	$medium: 1400px;
